@import 'utils/functions';


// text-gradient
    // background: -webkit-linear-gradient(#1a629c, #15344d);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    min-height: 150vh;
    background-color: #F3F4F5;
    overflow-x: hidden;
}

// Barra de rola 
::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background-color: #4da5f1;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #005EAE;
}

// Seleção

::selection {
    background-color: #698df06c;
}

/*Menu*/
.navbar{
    height: 72px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .8s;

    &__logo img{
        width: 70px;
        transition: .5s;
    }
    
    ul{
        display: flex;
        gap: 20px;

        li{
            list-style: none;

            a{
                text-decoration: none;
                color: #FFF;
                opacity: .7;
                transition: .8s;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    
}

.navbar.sticky{
    background-color: #48abffcc;
    transition: .8s;
}

/*Menu Mobile*/

#btn-mobile{
    display: none;
    background-color: transparent;
    color: #ff0000;
    font-size: 30px;
    font-weight: bold;
    border: none;
    padding: 15px;
}

@media(max-width: 560px){
    #btn-mobile{
        display: block;
        position: absolute;
        z-index: 997;
        text-align: right;
        padding-left: 350px;
    }

    #logo{
        z-index: 1;
    }
    #menu{
        position: absolute;
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #48abffcc;
        height: 100vh;
        width: 100%;
        margin-top: 300px;
        font-size: 20px;
        padding-top: 150px;
        top: 50;
        
    }
    #nav #menu{
        display: flex;
        margin-left: 3000px;
        transition: 1s;
    }

    #nav.active #menu{
        display: flex;
        margin-left: 0;
        transition: 1s;
        
    }
}
@media(max-width: 400px){
    #btn-mobile{
        display: block;
        position: absolute;
        z-index: 997;
        text-align: right;
        padding-left: 250px;
    }
}

/*Início*/
.hero{
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fundo-sp.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 997;
    background-attachment: fixed;

    &__wave{
        width: 100%;
        height: 200px;
        background-image: url('../img/wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        min-width: 100%;
        left: 0;
        bottom: -2px;
        position: absolute;
    }

    &__text{
        height: calc(100vh - 200px);
        color: #FFF;
        background-color: transparent;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0 100px;
        transition: .2s;
        
        h4{  
            font-size: 30px;
            line-height: 100%;
            transition: .2s;
        }

        p{
            font-size: 50px;
            font-weight: bold;
            transition: .2s;
            line-height: 100%;
        }
        @media (max-width: 540px){
            padding: 0 50px;
            
            h4{
                font-size: 20px;
            }
            p{
                font-size: 40px;
            }
        }
    }
}

/*Sobre*/

.title{
    color: #a4a4a4;
    background-color: turquoise;
}

.body-about{
    //background-color: tomato;
    display: flex;
    padding: 20px;
    height: 70vh;

    &__icon{
        background:linear-gradient(60deg, #163149, #48abff);
        flex: 1;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #d3d3d3;

        img{
            width: 340px;
        }
    }
    &__text{
        background-color: #FFF;
        flex: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        text-align: justify;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #d3d3d3;

        h4{
            font-size: 30px;
            background: -webkit-linear-gradient(#1a629c, #48a6f3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            color: #A4A4A4;
        }
    }
    @media (max-width: 767px){
        flex-direction: column;
        height: auto;
    }
}

//Nossos Projetos

.body-projects{
    //background-color: tomato;
    display: flex;
    padding: 20px;
    height: 70vh;

    &__icon{
        background-color: #FFF;
        flex: 1;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #d3d3d3;

        img{
            width: 300px;
        }
    }
    &__text{
        background: -webkit-linear-gradient(60deg, #1a629c, #48a6f3);
        flex: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        text-align: justify;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #d3d3d3;

        h4{
            font-size: 30px;
            background: -webkit-linear-gradient(#aedbff, #66a8df);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            color: #ffffff;
        }
    }
    @media (max-width: 767px){
        flex-direction: column;
        height: auto;
    }
}



//Carousel

img{
    width: 200px;
}




/*Footer*/